div.col-md-4 {
  border: dashed 0.5px lightgrey;
  height: 270px;
}

div.col-md-6 {
  border: dashed 0.5px lightgrey;
}

.myshow{
  border-style:dashed;
  border-width: 3px;
}

.myhide{
  border: 0.5px;
}